<head>
    <style>
        tr.htmx-swapping td {
            opacity: 0;
            transition: opacity 0.5s ease-out;
        }
    </style>
</head>
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="user" type="com.haleby.htmx.htmxexample.common.User"*/-->
    <!--/*@thymesVar id="users" type="com.haleby.htmx.htmxexample.common.User"*/-->
    <tr th:each="user : ${users}" th:id="|user_${user.id}|">
        <td>
            <span id="firstName" th:text="${user.firstName}">Will be replaced by first name</span>
        </td>
        <td>
            <span id="lastName" th:text="${user.lastName}">Will be replaced by last name</span>
        </td>
        <td>
            <span id="email" th:text="${user.email}">Will be replaced by email</span>
        </td>
        <td>
            <button class="btn px-1" th:attr="hx-delete=@{|/examples/4/${user.id}|}" hx-confirm="Are you sure?" hx-swap="outerHTML swap:0.5s" hx-target="closest tr">
                <i class="bi-trash" title="Delete"></i>
            </button>
            <button class="btn px-1" th:attr="hx-get=@{|/examples/4/${user.id}|}"
                    hx-swap="outerHTML" hx-target="closest table">
                <i class="bi-pencil-square" title="Edit"></i>
            </button>
        </td>
    </tr>
    </tbody>
</table>